body {
    margin: 0;
    padding: 10px;
    font-family: 'Arial, sans-serif';
    min-width: 400px;
}
button {
    background-color: #5f9341;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
input {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-top: 5px;
}
a {
    color: #5f9341;
    font-weight: 500;
}
#clear-btn {
    background-color: #d9534f;
    margin-left: 10px;
}